extends layout

block content
    
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css', integrity='sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ', crossorigin='anonymous')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js', integrity='sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn', crossorigin='anonymous')
    
    
    
    html
    head
    
    body
        
        nav.navbar.navbar-toggleable-md.sticky-top.navbar-inverse(style='background-color: #660033;').bg-faded
            button.navbar-toggler.navbar-toggler-right(type='button', data-toggle='collapse', data-target='#navbarNav', aria-controls='navbarNav', aria-expanded='false', aria-label='Toggle navigation')
                span.navbar-toggler-icon
            |   
            a.navbar-brand(href='/') Movie Tickets 4.0
            |

            #navbarNav.collapse.navbar-collapse
                ul.navbar-nav
                    
                    li.nav-item
                        a.nav-link(href='/booking') Booking
                            
                    | 
                    li.nav-item
                        a.nav-link(href='/profile') UserProfile
                        
                    |  
                    li.nav-item.active
                        a.nav-link(href='/tickets') Tickets
                        |
                        span.sr-only (current)  
                    |       
                         
                    li.nav-item
                        a.nav-link(href='/logout') Logout
    
    .card-columns
      - var n = 0;
      while n < count
                                
          .card.text-center(style='display: inline-block; column-break-inside: avoid;')
            img.card-img-top(src= movie_pic[n], alt='Card image cap' ,width='100%',height='300 px')
            |     
            .card-block.card-success.card-inverse
                h4.card-title= "Movie : " + movie_name[n]
            |       
            .list-group.list-group-flush
                li.list-group-item= "Date : " + show_date[n]
                li.list-group-item= "Time : " + show_time_st[n] + " - " + show_time_end[n]
                li.list-group-item= "Location : "+ t_location[n]
                li.list-group-item= "Hall : " + hall_name[n]
                li.list-group-item= "Seats : " + seats[n++]
          
          
            
            
          

            
                 
            

                



                
 

        

        



    

    
